@import 'animation';


h1 {
    color: #333333;
    animation: $header-duration ease-out backwards header-slide;
}

svg {
    width: 32px;
    fill: #2b2b2b;
    animation: 500ms $header-duration*3/2 2 ease alternate-reverse iron-head;
    .st0{
        fill-rule:evenodd;
        clip-rule:evenodd;
    }
}