<div class="px-4">
    <h1 class="h4">My Heroes</h1>
    <ul class="heroes list-unstyled d-flex flex-column">
        <li class="mb-2 d-flex" *ngFor="let hero of heroes">
            <span class="p-2 px-3 rounded-start id">{{ hero.id }}</span>
            <span class="w-100 p-2 px-3 rounded-end name">{{ hero.name }}</span>
        </li>
    </ul>
</div>

<!--     <div>
        <h1 class="h4">{{ hero.name | uppercase }} Details</h1>
        <p><span>ID : </span>{{ hero.id }}</p>
        <p><span>Name : </span>{{ hero.name }}</p>    
    </div>
    <div class="form-group">
        <label for="#input">Hero name : </label>
        <input [(ngModel)]="hero.name" type="text" class="w-25 form-control" id="input" placeholder="Name">
    </div>
 -->
